@import "tailwindcss";

@theme {
  --color-text-dark: #727272;
  --color-text-light: #fff;
  --color-background: rgba(0, 0, 0, 0.83);
  --color-blue: #3a32d9;
  --color-numbers: rgba(255, 255, 255, 0.025);
  --main-text-size: 20px;
  --stat-width: calc(100% - 140px - 275px);
  --carousel-width: calc(100% - 200px);
  --bg-position-big: -455px -419px;
  --bg-position-small: -800px -470px;
  --title-width: calc(100% - 180px);
}

body {
  background: var(--color-background);
  color: var(--color-text-light);
  font-family: Poppins, sans-serif;
  font-size: var(--main-text-size);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 95px;
  font-weight: bold;
}

@media (max-width: 890px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 70px;
  }
}

@media (max-width: 670px) {
  body {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 40px;
  }
}
